
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <title>Rapport</title>
        <link rel ="stylesheet" href="../css/HRimbertChantier.css" />
        <link rel ="stylesheet" href="../css/HRimbertChantier-tab.css" />
        <link rel ="stylesheet" href="../css/HRimbertChantier-gsm.css" />
        <link rel="icon" href="../Images/Icone.png"/>
        <script src="https://kit.fontawesome.com/0b84318fd8.js" crossorigin="anonymous"></script>
    </head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <body>
                    <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>1</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>HAUT ESCALIER</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(18.5512% - 15px);
                            top: calc(13.9891% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/220/1711032338604264193545883235751.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>2</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>ALCOVES</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(30.1581% - 15px);
                            top: calc(20.3279% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/221/17110323788675526415889080943635.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>3</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>VENTE ETAGE</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(39.9794% - 15px);
                            top: calc(15.082% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/222/17110324518302919894087229297369.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>4</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>COIN ETAGE</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(76.685% - 15px);
                            top: calc(30.0547% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/223/17110326180525090782625063470616.jpg'/>
                                                                <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/223/17110326544197224750199712415125.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>5</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>PALIER ETAGE</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(64.3836% - 15px);
                            top: calc(41.3116% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/224/1711032701118272827986203359453.jpg'/>
                                                                <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/224/17110327603315282975232432786912.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>6</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>COULOIR ETAGE</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(62.1019% - 15px);
                            top: calc(55.3007% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/225/17110302936275029706917888295267.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>7</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>STOCKAGE ETAGE</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(69.2447% - 15px);
                            top: calc(56.2843% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/226/17110303207935647521249365938525.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>8</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>COTE ETAGE</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(57.0976% - 15px);
                            top: calc(74.8673% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/227/17110302296106580845479948601945.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>9</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>EX CHAMBRE FROIDE ETAGE</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(43.6389% - 15px);
                            top: calc(73.5143% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/228/17110301832782235731527767941093.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>10</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>LOCAL TECH</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(31.6756% - 15px);
                            top: calc(56.827% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/229/17110301320284696785359185901858.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>11</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>TERRASSE</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(41.0716% - 15px);
                            top: calc(37.5972% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/230/17110300111333578409719468123035.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>12</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>FOND LOCAL TECH</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>En cours</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuBlue.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(23.9858% - 15px);
                            top: calc(34.6958% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/231/17110299284045527788881642471333.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>13</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>PC ACTIVES ETAGE</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>A faire</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuGreen.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(75.1336% - 15px);
                            top: calc(44.7297% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                                    <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/232/17110327759642732112501717606590.jpg'/>
                                                                <img style='width: 49%;
                                max-height: 500px;
                                object-fit: contain;'
                                src='../Points/232/17110327995143460062108744631042.jpg'/>
                                                    </div>
                </div>
            </div>

                        <div style=''>
                <div style='display: flex;'>
                    <p style='text-align: center; font-size: 30px; width: 100%'>Mad vintage  lille</p>
                    <p style='margin: 3px 0; text-align: center; font-size: 30px;'>14</p>
                </div>
                <div style='    border-top: solid 1px black;
    display: flex;
    justify-content: space-between;
    width: 100%;'>
                    <div style='width: 60%;'>
                        <p style='margin: 3px 0;'><b>Titre : </b>ECLAIRAGE ACTIF ETAGE</p>
                        <p style='margin: 3px 0;'><b>Etat : </b>A faire</p>
                        <p  style='margin-top: 3px; font-weight: bold;'>Commentaires : </p>
                        <p></p>
                    </div>
                    <div style='max-width: 40%;'>
                                                <div id="chantier_details_plan_canvas" style="position: relative;">
                            <img src='../Plans/882/2.jpg'
                            style='max-height: 300px;'>
                            <div style='position: absolute;
                            background-image: url(../Images/LieuGreen.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 47px;
                            left: calc(30.7763% - 15px);
                            top: calc(61.7754% - 23.5px);
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            padding-top: 5px;
                            color: blue;'>
                            </div>
                        </div>
                    </div>
                </div>
                <div style='border-top: solid 1px black; page-break-after: always;'>
                    <p>Images : </p>
                    <div style='display: flex; flex-wrap: wrap;'>
                                        </div>
                </div>
            </div>

                </body>
</html>

